@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Noto+Serif+NP+Hmong:wght@400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  } 

:root {
  --cor0: #fbf9f4;
    --cor2: #FAFDF5;
  --cor1: #181919;
  --cor3: #57684e;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  background-color: #FAFDF5;
}

header {
  background-color: var(--cor0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(187, 185, 185, 0.432);
}

 header > h1, footer > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.35em;
 }
  h1 {
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #1b1b1b;
}
  nav > a {
   text-decoration: none;
   color: #57684e; 
}

 .nav-links {
  display: flex;
  gap: 28px;
 }
.link {
  text-decoration: none;

}                                     /* PRIMEIRA CAIXA */
 aside#um {
  background-color: #F8F1CB;
  border-radius: 25px;
  font-weight: 500;
  font-size: 0.9em;
   width: 240px;
   padding: 10px;
   margin: 30px 25px;
 }
 .title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  margin: 30px;
 }

#primeiro-p {
  color: #57684e;
  font-size: 1.3em;
  margin: 30px;
}

.botão {
  color: white;
  background-color: #2D7A22;
  border-radius: 15px;
  text-align: center;
  width: 170px;
  padding: 14px;
  margin: 30px;
}
                                    /* TERCEIRA CAIXA */
section.caixa3 {
  background-color: #EEF7E8;
  height: 600px;
}

.destaque-p {
  color: #2D7A22;
  text-align: center;
  font-weight: 600;
   padding-top: 100px;
   padding-bottom: 20px;
}

.destaque-h {
  text-align: center;
  font-size: 3em;
  color: #1b1b1b;
}
                                     /* QUARTA CAIXA */
.destaque2-p {
  color: #2D7A22;
  font-weight: 600;
   padding-top: 100px;
   padding-bottom: 20px;
   margin-left: 30px;
}

.destaque2-h {
  font-size: 3em;
  color: #1b1b1b;
  margin-left: 30px;
}
                                    /* CAIXA FINAL */

.caixa-final {
  color: white;
  background-color: #2D7A22;
  border-radius: 50px;
  display: flow-root;
  height: 500px;
  margin: 50px;
}
.destaque-final-h {
  color: white;
  text-align: center;
  font-size: 3em;
   padding-top: 150px;
}

.destaque-final-p {
  color: rgb(211, 209, 209);
  font-size: 1.3em;
  text-align: center;
   padding-top: 15px;
}

.botao-final {
  background-color: #F0C325;
  color: #1b1b1b;
  border-radius: 40px;
   width: 200px; 
   margin: 40px auto;
   padding: 20px 25px;

}
.final-p {
  text-align: center;
  color: #1b1b1b;
  font-size: 600;
}
footer {
  background-color: #FBF9F4;
  border-top: 1px solid rgba(187, 185, 185, 0.432);
   display: flex;  
   justify-content: space-between;
   align-items: center;
  padding: 40px 24px 40px 24px; 
}

 footer .title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
 }

 footer a  {
  text-decoration: none;
  color: #57684e;

 }

 footer #direitos-autorais {
  color: #57684e;
  font-size: 0.8em;
 }
