@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&family=Noto+Serif+NP+Hmong:wght@400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  } 

:root {
  --cor0: #fbf9f4;
    --cor2: #FAFDF5;
  --cor1: #181919;
  --cor3: #57684e;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  background-color: #FAFDF5;
}

header {
  background-color: var(--cor0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(187, 185, 185, 0.432);
}

 header > h1, footer > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.35em;
 }

  nav > a {
   text-decoration: none;
   color: #57684e; 
}

 .nav-links {
  display: flex;
  gap: 28px;
 }

 aside#um {
  background-color: #F8F1CB;
  border-radius: 25px;
  width: 260px;
  padding: 10px;
  margin: 30px 25px;
 }
 .title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  margin: 30px;
 }

#primeiro-p {
  color: #57684e;
  font-size: 1.3em;
  margin: 30px;
}

.botão {
  color: white;
  background-color: #2D7A22;
  border-radius: 15px;
  text-align: center;
  width: 170px;
  padding: 14px;
  margin: 30px;
}

.caixa-final {
  background-color: #2D7A22;
  color: white;
  display: flow-root;
  padding: 50px 20px 50px 20px;
  margin: 20px;
  border-radius: 10px;
  
}

footer {
  background-color: #FBF9F4;
  border-top: 1px solid rgba(187, 185, 185, 0.432);
   display: flex;  
   justify-content: space-between;
   align-items: center;
  padding: 40px 24px 40px 24px; 
}

 footer .title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
 }

 footer a  {
  text-decoration: none;
  color: #57684e;

 }

 footer #direitos-autorais {
  color: #57684e;
  font-size: 0.8em;
 }
